/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Playfair Display', serif;
  font-family: 'PT Serif', serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.font-weight-1000 {
  font-weight: 1000;
}
.bold-text {
  font-weight: 1000;
  padding: 5px 0;
}
.two-panels {
  display: flex;
  flex-direction: row;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .two-panels {
    width: 100%;
    flex-direction: column;
  }
}
.left-panel {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: white;
  background-color: #003D73;
}
@media only screen and (max-width: 500px) {
  .left-panel {
    width: 100%;
    flex-direction: column;
  }
}
.right-panel {
  display: flex;
  flex-direction: column;
  width: 60vw;
}
@media only screen and (max-width: 500px) {
  .right-panel {
    width: 100%;
    flex-direction: column;
  }
}
.name {
  font-size: 28px;
  line-height: 35px;
  margin: 20px 0;
  font-weight: 1000;
}
.current-job-title {
  font-size: 20px;
}
.detail-header {
  background-color: #002240;
  font-size: 18px;
  font-weight: 1000;
  margin: 20px 0px;
  padding: 5px;
}
.text-format-regular {
  line-height: 25px;
}
.regular-text {
  margin: 20px 20px;
  line-height: 25px;
}
.detail-header-right {
  font-size: 18px;
  margin: 20px 0px;
  padding: 5px;
  margin: 20px 0;
  color: #003D73;
  font-weight: 1000;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.table-format {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.table-left {
  width: 20%;
  text-align: left;
  margin: 0 20px;
  padding: 0 20px;
}
.table-right {
  width: 70%;
  text-align: left;
  padding: 20px;
}
.text-format-bold {
  font-weight: 1000;
  padding: 5px 0;
}
.italic-text {
  font-style: italic;
}
ul {
  list-style-type: circle;
}
